---
import { getImage } from '@astrojs/image'
import Banner from '../components/Banner.astro'
import { ExampleFetch } from '../components/ExampleFetch'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'

const siteMetadata = await Astro.glob('../data/metadata.json')

const homepageBannerPicture = await getImage({
  src: import('../assets/images/homepage-banner.jpg'),
  width: 1700,
  quality: 90,
  alt: 'homepage banner'
}).then((img) => img.src)

const response = await fetch('https://randomuser.me/api/')
const data = await response.json()
console.log(data)
---

<Layout title='JUXT' navbar>
  <main>
    <Section className='bg-gray-800 h-[60vh] py-28 text-white'>
      <div class='flex gap-3'>
        <div class='text-xl md:text-2xl font-extralight'>
          Data pre-fetched at build time:
        </div>
        <div class='text-xl md:text-2xl font-extralight'>
          {data.results[0].email}
        </div>
      </div>
      <ExampleFetch client:only />
    </Section>
  </main>
</Layout>
